services:
  grafana:
    image: grafana/grafana-enterprise
    hostname: grafana
    restart: unless-stopped
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning
      - ./dashboards:/var/lib/grafana/dashboards
    configs:
      - source: grafana_config
        target: /etc/grafana/grafana.ini
    networks:
      - main_network
      - monitoring_network
    healthcheck:
      test: [ "CMD", "grafana-cli", "plugins", "ls" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s


volumes:
  grafana_data:


configs:
  grafana_config:
    file: grafana.ini
