services:
  api_gateway:
    image: nginx:alpine
    hostname: api.service
    command: nginx -g "daemon off;"
    restart: on-failure
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8888:80"
      - "80:80"
    networks:
      - main_network
    extra_hosts:
      - "host.docker.internal:host-gateway"
