[flake8]
allowed-domain-names =
  contents
  content
  result
  data
  file

ignore =

per-file-ignores =
  src/judgelet/bootstrap/app.py: WPS201
  src/judgelet/bootstrap/di.py: WPS347
  src/judgelet/bootstrap/config.py: WPS347
  src/judgelet/infrastructure/encoding.py: WPS
  src/judgelet/controllers/schemas/loading.py: WPS201
  # i need to refactor this ^


inline-quotes = "

max-local-variables = 8

max-annotation-complexity = 5

max-methods = 10

max-module-members = 10

# Pydocstyle
ignore-decorators = override
