name: Account service lint and test

on:
  workflow_call:
    outputs:
      integration_status:
        description: "Integration tests passed"
        value: ${{ jobs.tests.outputs.integration_status }}
      mypy_status:
        description: "Mypy status"
        value: ${{ jobs.analysis.outputs.mypy_status }}
      lint_status:
        description: "Lint status"
        value: ${{ jobs.analysis.outputs.lint_status }}


jobs:
  analysis:
    runs-on: ubuntu-latest
    outputs:
      mypy_status: ${{ steps.mypy.outcome }}
      lint_status: ${{ steps.lint.outcome }}
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - uses: extractions/setup-just@v3

      - name: Sync
        working-directory: ./ContestService
        run: uv sync --group lint

      - id: mypy
        working-directory: ./ContestService
        continue-on-error: true
        run: just check types

      - id: lint
        working-directory: ./ContestService
        continue-on-error: true
        run: just check style

      - name: Check test status
        if: always()
        run: |
          if [[ "${{ steps.mypy.outcome }}" == "failure" || \
                "${{ steps.lint.outcome }}" == "failure" ]]; then
            echo "One or more tests failed."
            exit 1
          else
            echo "All tests passed successfully."
          fi


  tests:
    runs-on: ubuntu-latest
    needs: [analysis]
    outputs:
      integration_status: ${{ steps.integration_test.outcome }}
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - uses: extractions/setup-just@v3

      - name: Sync
        working-directory: ./ContestService
        run: uv sync --group test

      - name: Start dependencies
        run: just up account_service contest_db

      - id: integration_test
        working-directory: ./ContestService
        continue-on-error: true
        run: just test

      - name: Check test status
        if: always()
        run: |
          if [[ "${{ steps.integration_test.outcome }}" == "failure" ]]; then
            echo "One or more tests failed."
            exit 1
          else
            echo "All tests passed successfully."
          fi
