on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Action
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: 22003
          script: |
            rm -rf Dockingjudge > /dev/null || echo > /dev/null
            git clone https://github.com/Tapeline/Dockingjudge.git
            cd Dockingjudge
            cd JudgeUnit
            just build
            cd ..
            just up
