name: Run tests

on:
  push:
    branches: ["develop", "master"]
  workflow_dispatch:


jobs:
  judgelet_tests:
    uses: ./.github/workflows/judgelet.yml
  solution_svc_tests:
    uses: ./.github/workflows/solution_svc.yml
