name: Run tests

on:
  push:
    branches: ["develop", "master"]
  workflow_dispatch:


jobs:
  judgelet_tests:
    uses: ./.github/workflows/judgelet.yml
  solution_svc_tests:
    uses: ./.github/workflows/solution_svc.yml
  account_svc_tests:
    uses: ./.github/workflows/account_svc.yml
  contest_svc_tests:
    uses: ./.github/workflows/contest_svc.yml
  judge_svc_tests:
    uses: ./.github/workflows/judge_svc.yml
